/*Importar as fontes usadas*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Reinicialização básica*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Propriedades personalizadas*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #0a334f;
    --purple-transparent: rgba(10, 48, 79, 0.7);
    --purple-transparent-alt: rgba(10, 93, 126, 0.5);
    --purple-light: #507efb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
    --transition: all 0.7s ease;
    --yellow: #fa9e2c;
    --dark: #0a334f;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
/*Estilos globais*/
html{
    font-size: 10px; 
}
body{
    font-family: 'Open Sans', Sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
/*estilos reutilizáveis*/
.btn{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;

}
.btn2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 10rem;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}
.btn2:hover{
    opacity: 0.85;
}
.btn3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 10rem;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 0 20px;
    cursor: pointer;
    transition: var(--transition);
}
.btn3:hover{
    opacity: 0.85;
}
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
}
.btn-gradient{
    background-image: var(--gradient-color);
}
.btn-gradient:hover{
    background-image: var(--gradient-color-alt);
}
.btn-purple{
    background-color: var(--purple-solid);
}
.btn-purple:hover{
    background-color: #56247f;
}
.dots{
    font-size: 2.4rem;
    margin-left: .5rem;
    opacity: .75;
}
/*estilos de cabeçalho*/
.header{
    width: 100%;
    height: 6rem;
    color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--purple-transparent);
    z-index: 999;
}
.header.active{
    background-color: var(--purple-solid);
}
.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-top span{
    cursor: pointer;
    letter-spacing: 2px;
    transition: var(--transition);
}
.head-top span:hover{
    color: var(--yellow);
}
.head-bottom{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 45px;
    border-bottom: 1px solid #fff;
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
}
.head-btn2{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    padding: 13px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}
.head-btn2:hover{
    background: transparent;
}
@media(max-width: 500px){
    .head-btn2{
        font-size: 17px;
    }
    .head-bottom h2{
        font-size: 28px;
    }
    .head-bottom p{
        font-size: 17px;
        margin: 20px auto;
    }
}
/*estilos de cabeçalho - nav*/
.sidenav{
    background: var(--dark);
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 300px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}

/********/
.sidenav.show{
    right: 0;
}
/*************/
.cancel-btn2{
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);
}
.cancel-btn2:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}
.navbar li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
    opacity: 0.8;
    letter-spacing: 1.5px;
    transition: var(--transition);
}
.navbar li a:hover{
    padding-left: 12px;
}
.sign-up, .log-in{
    background: var(--yellow);
    color: #fff;
}
@media(max-width: 400px){
    .sidenav{
        width: 100vw;
    }
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.ali {
    width: 940px;
    margin: 0 auto;   
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}
/*estilos de seção de rodapé*/
.footer{
    padding: 1rem 0;
    background-color: var(--purple-solid);
    color: #fff;
}
.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.8;
}
.footer a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.footer-heading{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.social-media{
    display: flex;
}
.sm-link{
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: color .5s;
}
.sm-link:hover{
    color: var(--yellow-solid);
}
.sm-link2{
    transition: color .5s;
}
.sm-link2:hover{
    color: var(--yellow-solid);
}
@media(min-width: 900px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media(min-width: 1170px){
    .footer{
        text-align: left;
    }
    .footer-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container div:nth-child(1) p{
        padding-right: 20px;
    }
    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}
/*estilos de seção de rodapé*/
.footer{
    overflow: hidden;
}
.footer-content{
    display: flex;
}
.footer-content-brand{
    margin-bottom: 0;
    flex: 0 0 60%;
}
.footer .paragrafo{
    margin-top: 2.5rem;
}
.footer-heading{
    margin-bottom: 2rem;
}
.social-media-wrap{
    flex: 0 0 40%;
    margin-left: 2.5rem;
}
.showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}